services:
  db:
    container_name: substrack-db
    image: postgres:17-alpine
    restart: always
    env_file:
      - .env
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  backend:
    container_name: substrack-backend
    image: substrack-backend
    build:
      context: ./backend
      dockerfile: Dockerfile
    restart: always
    env_file:
      - .env
    depends_on:
      - db
    ports:
      - "8000:8000"

  frontend:
    container_name: substrack-frontend
    image: substrack-frontend
    build:
      context: ./frontend
      dockerfile: Dockerfile
    restart: always
    env_file:
      - .env
    depends_on:
      - backend
    ports:
      - "8001:8001"

volumes:
  db_data:
    name: substrack-db
